{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
  <div class='login-form'>
    <form method='post' action='{% url "auth_login" %}'>
      {% csrf_token %}

      <legend>Log in</legend>

			{% if next %}
				<div class='alert alert-block'>
					<i class='icon-warning-sign'></i>You must log in before you can access that page.
				</div>
			{% endif %}

      {{ form | crispy }}

      <input type='submit' value='Log in' class='btn btn-primary'/>

      <input type='hidden' name='next' value='{{ next }}'/>

			<p><a href='{% url "auth_password_reset" %}'>Forgot your password?</a></p>

			<p><a href='{% url "accounts_signup_form" %}'>Need an account?</a></p>

    </form>
  </div>

{% endblock %}
