{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign up for an account{% endblock %}

{% block content %}
  <div class='signup-form'>
    <form method='post' action='{% url "accounts_signup_form" %}'>
      {% csrf_token %}

      <legend>Sign up for an account</legend>

      {{ form | crispy }}

			<p>Click <strong>I accept</strong> to agree to the {{ site.name }} <a href='{% url 'terms_of_service' %}'>Terms of Service</a>.</p>

      <input type='submit' value='I accept' class='btn btn-primary'/>
    </form>
  </div>
{% endblock %}
